.site-content, .site-footer {
	margin: 0 auto;
	width: 95%;
	max-width: 1240px;
}

.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 2em 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

@media screen and (max-width: 700px) {
  .content-area, .site-content .widget-area {
    float: none;
    width: 98%;
    margin: 0 auto;
  }

  .site-main {
    margin: 0;
  }

  .sidebar-header-image {
    max-width: 280px;
  }
}

.site-footer {
	clear: both;
  border-top: 3px solid #f0f9f0;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
