.sidebar-header-image {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
