$font__main: 'Source Serif Pro', Georgia, serif;
$font__code: 'Source Code Pro', Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: $font__code;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
