@import "../variables-site/variables-site";

.site-header {
  text-align: center;
}

.site-branding {
  font-size: 150%;
}

.site-title {
  font-family: $font__pre;

  a, a:visited, a:hover, a:active {
    color: $color__text-main;
    text-decoration: none;
  }

  &::before {
    content: '/* ';
    color: #efe;
  }

  &::after {
    content: ' */';
    color: #efe;
  }
}
