.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title {
	font-family: $font__code;
	font-weight: 100;

	a {
		text-decoration: none;

		&::before {
			content: '// ';
			opacity: 0.1;
		}
	}
}

.blog {
	.post {
		border-bottom: 3px solid #f0f9f0;
		padding-bottom: 2em;
		margin-bottom: 2em;
    &:last-child {
      border-bottom: 0;
    }
	}
}

.entry-meta {
  text-align: center;
  color: #aaa;

  a {
    color: #aaa;
  }
}

.more-link {
  display: block;
  margin: 0 auto;
  text-align: center;
}
